$colorsDark: (
  bg: #212528,
  seconder : #2C3034,
  text: #D6DCE3,
  heading: #ffffff,
  border: #4f5257,
  green: #14532D,
  blue: #0C4A6E,
  red: #881337,
  alert: #2e3438,
  error: #dc2626,
  lime: #059669,
  sky: #0284c7
);

$colorsLight: (
  bg: #FAFAFA,
  seconder : #EDEDED,
  text: #9D9FA6,
  heading: #121212,
  border: #c5baba,
  green: #4ADE80,
  blue: #0EA5E9,
  red: #F43F5E,
  alert: #e6e6e6,
  error: #f87171,
  lime: #22c55e,
  sky: #38bdf8
);